In [1]:
#11.1

import zoo
zoo.hours()

'Open 9-5 daily'

In [2]:
#11.2

import zoo as menagerie
menagerie.hours()

'Open 9-5 daily'

In [12]:
import sqlite3
conn = sqlite3.connect("books.db")
curs = conn.cursor()
curs.execute("CREATE TABLE books (title, author, year)")
curs.execute("""INSERT INTO books VALUES ("The Weirdstone of Brisingamen", "Alan Garner", 1960), 
("Perdido Street Station", "China Mieville", 2000), ("Thud!", "Terry PRatchett", 2005),
("The Spellman Files", "Lisa Lutz", 2007), ("Small Gods", "Terry Pratchett", 1992)""")
print(curs)

<sqlite3.Cursor object at 0x000002126853E640>

In [5]:
import sqlalchemy as sa
conn = sa.create_engine("sqlite:///books.db")
ttl = conn.execute("SELECT title FROM books ORDER BY title")
for row in ttl:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)